.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(170, 170, 170, 0.699)
}
.loading-icon{
    height: 100%;
    width: 100%;
    max-width:220px;
    position: absolute;
    top:50%;
    left: 50%;
}
